@model MVCHaberinDB.Models.User

@{
    ViewBag.Title = "Details";
}

<div id="TopBar">
</div>
<div id="KayitAlan">
    <fieldset>
        <legend>Kullanıcı</legend>

        <div class="display-label">
            @Html.DisplayName("Adı:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label">
            @Html.DisplayName("Soyadı:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label">
            @Html.DisplayName("Adres:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>

        <div class="display-label">
            @Html.DisplayName("Şehir:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div>

        <div class="display-label">
            @Html.DisplayName("Posta Kodu:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PostalCode)
        </div>

        <div class="display-label">
            @Html.DisplayName("Ülke:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Country)
        </div>

        <div class="display-label">
            @Html.DisplayName("Telefon:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>

        <div class="display-label">
            @Html.DisplayName("Doğum Tarihi:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BirthDate)
        </div>
                
        <div class="display-label">
            @Html.DisplayName("Resim")
        </div>
        <div class="display-field">
            <img src="~/Content/images/userPhotos/@Model.ImagePath" style="width:150px; height:120px;" />
        </div>

        <div class="display-label">
            @Html.DisplayName("E-Mail:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="display-label">
            @Html.DisplayName("Şifre:")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Password)
        </div>
                
    </fieldset>

    <p>
        @Html.ActionLink("Profili Düzenle", "Edit", new { id = Model.UserID }) |
        @Html.ActionLink("Profili Sil", "Delete", new { id = Model.UserID }) |
        @Html.ActionLink("Anasayfa", "Index")
    </p>
</div>