@model MVCHaberinDB.Models.User

@{
    ViewBag.Title = "Edit";
}

<div id="TopBar">
</div>
<div id="KayitAlan">
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Kullanıcı</legend>

            @Html.HiddenFor(model => model.UserID)

            <div class="editor-label">
                @Html.Label("Adı:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.Label("Soyadı:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            
            <div class="editor-label">
                @Html.Label("Adres:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="editor-label">
                @Html.Label("Şehir:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-label">
                @Html.Label("Posta Kodu:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>

            <div class="editor-label">
                @Html.Label("Ülke:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>

            <div class="editor-label">
                @Html.Label("Telefon:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="editor-label">
                @Html.Label("Doğum Tarihi:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate) <span>GÜN,AY,YIL olarak giriniz!</span><br /><br />
            </div>

            <div class="editor-label">
                @Html.Label("Resim Seç:")
            </div>
            <div class="editor-field">
                <img src="~/Content/images/userPhotos/@Model.ImagePath" style="width:150px; height:120px;" />
                <input name="fluResim" type="file" />
            </div>

            <div class="editor-label">
                @Html.Label("E-Mail:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.Label("Şifre:")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

                        <p>
                <input type="submit" value="Kaydet" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Anasayfa", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>
