@model MVCHaberinDB.Models.Role

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div id="Container">
    <div id="TopBar">
    </div>
    <div id="Content">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Rol</legend>

                <div class="editor-label">
                    @Html.Label("Adı:")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RoleName)
                    @Html.ValidationMessageFor(model => model.RoleName)
                </div>

                <p>
                    <input type="submit" value="Kaydet" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Index'e Dön", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>