@model MVCHaberinDB.Models.Comment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="Container">
    <div id="TopBar">
    </div>
    <div id="KayitAlan">


        <h3>Silmek istediğinize emin misiniz?</h3>
        <fieldset>
            <legend>Yorum</legend>

            <div class="display-label">
                @Html.DisplayName("Adı:")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.User.FirstName)
            </div>

            <div class="display-label">
                @Html.DisplayName("Soyadı:")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.User.LastName)
            </div>


            <div class="display-label">
                @Html.DisplayName("İçerik:")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CommentText)
            </div>

            <div class="display-label">
                @Html.DisplayName("Haber Başlığı:")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.News.NewsTitle)
            </div>
        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Sil" /> |
                @Html.ActionLink("Index'e Dön", "Index")
            </p>
        }

    </div>
</div>
